In [1]:
# encoding=utf8

# Advanced pandas

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Categorical Data

### Background and Motivation

In [3]:
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
print(values)
print(pd.unique(values))
print(pd.value_counts(values))

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object
['apple' 'orange']
apple     6
orange    2
dtype: int64

In [4]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
print(values)
print(dim)

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64
0     apple
1    orange
dtype: object

In [5]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

### Categorical Type in pandas

In [7]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
print(fruits)
print(N)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
print(df)

['apple', 'orange', 'apple', 'apple', 'apple', 'orange', 'apple', 'apple']
8
   basket_id   fruit  count    weight
0          0   apple      9  0.201952
1          1  orange     10  3.224939
2          2   apple     14  3.723263
3          3   apple     10  1.456118
4          4   apple     10  2.763792
5          5  orange     11  0.517258
6          6   apple     10  3.330746
7          7   apple      4  1.273415

In [11]:
df.info()
fruit_cat = df['fruit'].astype('category')
print(fruit_cat)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
basket_id    8 non-null int64
fruit        8 non-null object
count        8 non-null int64
weight       8 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 336.0+ bytes
0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [13]:
c = fruit_cat.values
print(c)
print(type(c))

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]
<class 'pandas.core.categorical.Categorical'>

In [15]:
print(c.categories)
print(c.codes)

Index(['apple', 'orange'], dtype='object')
[0 1 0 0 0 1 0 0]

In [16]:
df['fruit'] = df['fruit'].astype('category')
print(df)
print(df.info())
print(df.fruit)

   basket_id   fruit  count    weight
0          0   apple      9  0.201952
1          1  orange     10  3.224939
2          2   apple     14  3.723263
3          3   apple     10  1.456118
4          4   apple     10  2.763792
5          5  orange     11  0.517258
6          6   apple     10  3.330746
7          7   apple      4  1.273415
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
basket_id    8 non-null int64
fruit        8 non-null category
count        8 non-null int64
weight       8 non-null float64
dtypes: category(1), float64(1), int64(2)
memory usage: 296.0 bytes
None
0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [17]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

In [18]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [19]:
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [20]:
my_cats_2.as_ordered()

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

### Computations with Categoricals

In [21]:
np.random.seed(12345)
draws = np.random.randn(1000)
print(draws)
print(draws[:5])

[-0.2047  0.4789 -0.5194 -0.5557  1.9658  1.3934  0.0929  0.2817  0.769
  1.2464  1.0072 -1.2962  0.275   0.2289  1.3529  0.8864 -2.0016 -0.3718
  1.669  -0.4386 -0.5397  0.477   3.2489 -1.0212 -0.5771  0.1241  0.3026
  0.5238  0.0009  1.3438 -0.7135 -0.8312 -2.3702 -1.8608 -0.8608  0.5601
 -1.2659  0.1198 -1.0635  0.3329 -2.3594 -0.1995 -1.542  -0.9707 -1.307
  0.2863  0.378  -0.7539  0.3313  1.3497  0.0699  0.2467 -0.0119  1.0048
  1.3272 -0.9193 -1.5491  0.0222  0.7584 -0.6605  0.8626 -0.01    0.05
  0.6702  0.853  -0.9559 -0.0235 -2.3042 -0.6525 -1.2183 -1.3326  1.0746
  0.7236  0.69    1.0015 -0.5031 -0.6223 -0.9212 -0.7262  0.2229  0.0513
 -1.1577  0.8167  0.4336  1.0107  1.8249 -0.9975  0.8506 -0.1316  0.9124
  0.1882  2.1695 -0.1149  2.0037  0.0296  0.7953  0.1181 -0.7485  0.585
  0.1527 -1.5657 -0.5625 -0.0327 -0.929  -0.4826 -0.0363  1.0954  0.9809
 -0.5895  1.5817 -0.5287  0.457   0.93   -1.5693 -1.0225 -0.4028  0.2205
 -0.1934  0.6692 -1.649  -2.2528 -1.1668  0.3536  0.7021 -0.2746 -0.1391
  0.1077 -0.6065 -0.4171 -0.017  -1.2241 -1.8008  1.6347  0.989   0.4579
  0.5552  1.3067 -0.4406 -0.3014  0.4988 -0.824   1.3206  0.508  -0.6534
  0.187  -0.3917 -0.2723 -0.0171  0.6803  0.6355 -0.7572  0.7181 -0.3043
 -1.6778  0.427  -1.5637 -0.3675  1.0459  1.22   -0.2477 -0.4162 -0.1167
 -1.8448  2.0687 -0.777   1.4402 -0.1106  1.2274  1.9208  0.7464  2.2247
 -0.6794  0.7274 -0.8687 -1.2139 -0.4706 -0.9192 -0.8388  0.4352 -0.5578
 -0.5675 -0.3726 -0.9266  1.7551  1.2098  1.27   -0.9744 -0.6347 -0.3957
 -0.2894 -0.7343 -0.7285  0.8388  0.2669  0.7212  0.911  -1.0209 -1.4134
  1.2966  0.2523  1.1275 -0.5684  0.3094 -0.5774 -1.1686 -0.825  -2.6444
 -0.153  -0.7519 -0.1326  1.4573  0.6095 -0.4938  1.24   -0.1357  1.43
 -0.8469  0.6033  1.2636 -0.2555 -0.4457  0.4684 -0.9616 -1.8245  0.6254
  1.0229  1.1074  0.0909 -0.3501  0.218  -0.8948 -1.7415 -1.0523  1.4366
 -0.5762 -2.4203 -1.0623  0.2374  0.001   0.0653 -1.3675 -0.0303  0.9405
 -0.6424  1.0402 -1.0829  0.4292 -0.2362  0.6418 -0.3317  1.3941 -1.0767
 -0.1925 -0.8712  0.4209 -1.2114 -0.2589 -0.5816 -1.2604  0.4646 -1.0702
  0.8042 -0.1567  2.0104 -0.8871 -0.9779 -0.2672  0.4833 -0.4003  0.4499
  0.3996 -0.1516 -2.5579  0.1608  0.0765 -0.2972 -1.2943 -0.8852 -0.1875
 -0.4936 -0.1154 -0.3507  0.0447 -0.8978  0.8909 -1.1512 -2.6123  1.1413
 -0.8671  0.3836 -0.437   0.3475 -1.2302  0.5711  0.0601 -0.2255  1.3497
  1.3503 -0.3867  0.866   1.7472 -1.4102 -0.3782 -0.3458  0.3801  0.189
  1.3233 -2.2646 -0.915  -0.479   1.0472  0.9239 -0.1142  0.4058  0.2885
 -0.4348  0.3588 -0.3882  2.1287  1.4096 -0.1054  0.7004  2.0929 -0.137
 -0.9305  0.3275  1.303  -1.4094 -0.1441 -0.7164  0.1036 -1.4957 -1.1749
  2.614  -0.6893 -0.7517  0.6363 -1.1576  0.6147  1.0214  0.6683 -0.8095
 -0.9081  1.5123  0.0951  1.1847  0.637  -0.5393 -0.0551 -1.1359 -0.1705
 -1.1581  1.1046  0.6342  1.2597  0.9649 -0.4344 -0.8796 -0.6948  1.2264
  0.4573  0.1157  1.014  -1.135  -0.2634  1.3064 -1.6108 -1.0266  1.2416
 -0.1568 -2.4491 -1.0339  1.5995  0.4741  0.1513 -0.5422 -0.4755  0.1064
 -1.3082  2.1732  0.5646 -0.1905 -0.9169 -0.9758  2.2123  0.0739  1.8186
 -1.5815 -0.7744  0.5529  0.1061  3.9275 -0.2551  0.8541 -0.3648  0.1311
 -0.6976  1.3356 -0.151   0.4429  0.9416  0.5334  0.3563 -0.0101  1.4158
  0.5661  0.4565  0.1948 -0.6551 -0.5652  3.1769  0.9595 -0.9753 -1.1167
 -1.1044 -0.8988 -1.3666  0.4514 -1.5872 -0.7328 -0.5146 -0.6119 -0.0316
  0.2341  0.2719  1.2308  1.2883  0.8518 -1.5292 -1.5517  0.2973  0.3448
 -0.3981  0.4294 -0.2859 -2.2284  0.0666  0.49    1.8679  2.0704 -0.2454
  0.7623  0.129   0.6271 -1.0622 -1.4995  0.5452  0.4008 -1.9462  0.505
 -0.9105 -0.2197  0.4081 -0.6031 -0.3611  0.564  -1.0566  1.392  -1.7613
 -0.9116  0.6583 -1.5795  0.4577 -0.1833 -0.6855  0.1064 -0.3182  0.4337
  0.5718  0.5671  0.0816 -0.3023 -0.7269  0.1803 -0.5202  0.3981 -0.9169
 -0.0827 -1.9397  1.408   1.5124  0.5265 -0.2669  0.8623  0.0838 -1.8723
 -0.9628  0.0801  0.1287 -0.4791 -0.6403  0.746  -0.6225  0.9363  0.75
 -0.0567  2.3007  0.5695  1.4894  1.2643 -0.7618 -0.3316 -1.7513  0.6289
  0.2825 -1.3381 -0.5006  0.1216  1.7083 -0.971  -0.6193 -0.7267  1.2217
  0.5037 -1.3879  0.2049  0.6037  0.5457  0.2355  0.1118 -1.2515 -2.9493
  0.6346  0.1242  1.2976 -1.6869  1.0895  2.0609 -0.2412 -0.9479  0.6763
 -0.6534 -0.6523  0.5288  0.3578  0.1886  0.8694 -0.0507 -0.7164 -0.1033
 -1.141  -0.5008 -0.3893 -0.4739  0.1287  0.1537  0.4448  0.1285  0.2525
 -0.9406  1.0021 -0.5254 -0.8874  1.8313 -0.923   0.7005 -0.8922  2.3007
 -0.8178  0.5138  0.6236  1.4892  1.9405  0.5432  0.5062  1.662  -1.1892
  0.0936 -0.5392 -1.4374  0.1879 -0.4505 -0.5169 -0.0956  0.3164  0.6033
 -1.4946 -0.1109  0.2413 -0.5826 -0.2411  0.2364  0.1247  1.0463 -0.2731
 -0.5348 -0.3066 -0.1622 -1.0832  0.7084  1.5207  0.2903 -0.6831 -0.9503
  0.4007 -0.1261  0.3982  0.1416 -0.2641 -0.4522  0.7582 -0.5156 -0.5912
  0.8967 -0.9714  1.8408  0.1539 -0.2741 -1.7849  0.981  -0.8737 -1.0156
 -0.4112  1.4656 -1.0062 -0.9021  0.7528 -0.4905 -0.5247 -0.6992  0.3524
  0.0681 -0.9303  0.8454  0.0165  0.845   1.8508  0.0221 -1.3692  0.8872
  0.0143 -0.0742 -0.0486  1.235  -0.4333  1.391   0.8202 -0.2474  0.3023
  0.544  -0.9424 -1.2664  0.9372 -0.7201 -1.594  -0.3755 -0.9587  0.7943
 -1.6051  0.5437  0.9252 -1.4696 -0.3996  1.4173 -0.8976  1.8448  1.2532
 -1.4909 -0.0277  1.3752 -0.0252 -0.6679 -2.868   0.2107  1.2872 -0.5743
  0.4953  0.396   0.5888 -1.2818  2.0299 -0.5019 -0.1593 -1.4962  0.0114
  0.4194  2.0512 -0.3688 -1.6893  0.1477 -0.181   0.1581 -0.3966 -0.4002
 -0.8249 -0.2444  1.2195 -0.4336  0.8612 -0.3345  0.1596 -0.9842  0.7541
 -0.2844  0.3248 -0.8854 -1.2809  0.1961  0.9546 -0.801   0.0159  1.0876
 -0.6312 -0.0227  0.6859  0.5192  0.1827  0.2046 -0.266  -0.0002  1.2395
 -0.8197 -0.2604  0.5191  0.1431 -0.1167  1.4967 -1.4843 -1.6712  0.9172
 -0.758   2.0648 -0.8508  0.4995 -0.0793 -1.4033  1.5789  0.0004  0.9009
 -0.4549 -0.8645  1.1291  0.0579 -0.4337  0.0927 -1.3978  1.4578 -0.1768
 -0.2542 -1.2634  0.4523 -0.8401 -0.5027  0.5134  1.6417  0.5808 -1.7073
 -0.1784 -0.8285  1.2863 -0.4065  0.1566  0.0521  0.9558  0.7432 -0.4863
  1.9205 -0.6527 -0.1733 -0.3604 -0.3804 -1.2981  0.5279 -0.0931  0.4012
 -0.1026  0.0309  2.6161 -0.7856 -0.507  -2.0182 -0.6769  2.6667  1.4515
  0.6346 -0.5028  0.5129  1.7568 -0.9743  0.6804  0.9558  1.5015 -0.7563
  0.4735  1.7137 -1.1477  0.0029 -1.1006 -0.2975  0.5024 -0.001  -0.6746
  0.298   1.4656 -0.3036 -0.9945  0.1899 -1.684  -0.4584  0.5434 -1.1873
 -0.4126  1.1771 -0.3137  1.579   0.3754 -1.5681 -0.9009  0.6523  0.8716
  0.2682  0.9477  0.1473 -1.7725  0.5924  0.0903  0.6511 -0.0812  0.8019
  0.1398 -0.501  -0.1283  0.4146  0.6046  2.1341  0.9412 -0.9315 -0.1247
  0.2007  0.1803 -0.3204 -1.5961 -1.2817  1.5026  0.6535 -0.3195  0.9551
  0.262   0.1608 -0.5717  0.3517  1.115   1.1833  1.0609  0.5107 -0.9388
 -0.5465  0.59    1.4822  0.1021  0.2654  0.0032 -2.595  -1.5556  1.103
  0.5547 -1.289   0.3852 -1.7173 -1.0184  0.0516  0.5033 -0.5432 -0.5067
  0.7297  0.4343 -1.1337  1.424   0.2664 -0.8543 -0.5506 -0.6191  1.0389
 -0.9106  0.53   -0.0085 -1.129   0.5699 -0.8634 -1.3561 -0.0572 -0.1086
  1.6524 -1.3509 -0.5461  0.9914  2.201   0.4279  0.2905  0.612  -0.5125
 -0.7242  1.6929 -0.2993  1.5717  0.4614 -0.6738 -1.141  -1.2289 -1.1593
 -0.3208  1.0883 -0.9062 -0.4642 -0.5134  1.6178 -0.8167  0.2447 -1.3111
  0.3884  1.5924  0.8704  0.3352  0.649  -0.1832  0.5002  1.3688  0.8951
  0.6473 -0.5679 -0.5795 -0.7514  1.0755 -0.6211  1.8786  1.2602  0.3101
  0.1064  0.248  -1.3938 -0.6694 -0.5668 -0.3818 -0.9465 -1.0651 -1.3318
 -0.9865 -0.3784  0.7647  0.0604  0.6185 -0.4849 -0.2805  0.407   1.0252
  0.2548  0.0875  0.0707 -0.5732  1.2289 -0.9622  1.5256  0.8273  0.9125
 -0.1273  0.6343 -1.5309 -1.2907 -0.5262 -1.1322 -0.4998 -0.7285 -0.5831
  0.3293 -0.8269 -0.5369 -0.563   0.9184 -0.0794 -0.2786 -0.1305 -1.397
 -0.2447  0.8303  0.2408 -0.9157 -2.2253 -0.6631 -0.3212  0.4984  0.3803
 -1.067   0.2555  2.1113 -0.6342  1.3688 -0.9706  0.6542 -1.1719 -0.0032
 -0.7456  1.5983 -0.9134  2.4029 -0.5894  0.1077 -0.1393 -1.1599  0.619
  1.3739]
[-0.2047  0.4789 -0.5194 -0.5557  1.9658]

In [22]:
bins = pd.qcut(draws, 4)
print(bins)

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], [-2.949, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, object): [[-2.949, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

In [23]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
print(bins)
print(bins.codes[:10])

[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]
[1 2 1 1 3 3 2 2 3 3]

In [25]:
bins = pd.Series(bins, name='quartile')
print(bins)
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
print(results)

0      Q2
1      Q3
2      Q2
3      Q2
4      Q4
5      Q4
6      Q3
7      Q3
8      Q4
9      Q4
       ..
990    Q1
991    Q4
992    Q1
993    Q4
994    Q2
995    Q3
996    Q2
997    Q1
998    Q3
999    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]
  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

In [26]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

#### Better performance with categoricals

In [ ]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

In [ ]:
categories = labels.astype('category')

In [ ]:
labels.memory_usage()
categories.memory_usage()

In [ ]:
%time _ = labels.astype('category')

### Categorical Methods

In [ ]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

In [ ]:
cat_s.cat.codes
cat_s.cat.categories

In [ ]:
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

In [ ]:
cat_s.value_counts()
cat_s2.value_counts()

In [ ]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3
cat_s3.cat.remove_unused_categories()

#### Creating dummy variables for modeling

In [ ]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

In [ ]:
pd.get_dummies(cat_s)

## Advanced GroupBy Use

### Group Transforms and "Unwrapped" GroupBys

In [ ]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,
                   'value': np.arange(12.)})
df

In [ ]:
g = df.groupby('key').value
g.mean()

In [ ]:
g.transform(lambda x: x.mean())

In [ ]:
g.transform('mean')

In [ ]:
g.transform(lambda x: x * 2)

In [ ]:
g.transform(lambda x: x.rank(ascending=False))

In [ ]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [ ]:
g.transform(normalize)
g.apply(normalize)

In [ ]:
g.transform('mean')
normalized = (df['value'] - g.transform('mean')) / g.transform('std')
normalized

### Grouped Time Resampling

In [ ]:
N = 15
times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)
df = pd.DataFrame({'time': times,
                   'value': np.arange(N)})
df

In [ ]:
df.set_index('time').resample('5min').count()

In [ ]:
df2 = pd.DataFrame({'time': times.repeat(3),
                    'key': np.tile(['a', 'b', 'c'], N),
                    'value': np.arange(N * 3.)})
df2[:7]

In [ ]:
time_key = pd.TimeGrouper('5min')

In [ ]:
resampled = (df2.set_index('time')
             .groupby(['key', time_key])
             .sum())
resampled
resampled.reset_index()

## Techniques for Method Chaining

```python
df = load_data()
df2 = df[df['col2'] < 0]
df2['col1_demeaned'] = df2['col1'] - df2['col1'].mean()
result = df2.groupby('key').col1_demeaned.std()
```

```python
# Usual non-functional way
df2 = df.copy()
df2['k'] = v

# Functional assign way
df2 = df.assign(k=v)
```

```python
result = (df2.assign(col1_demeaned=df2.col1 - df2.col2.mean())
          .groupby('key')
          .col1_demeaned.std())
```

```python
df = load_data()
df2 = df[df['col2'] < 0]
```

```python
df = (load_data()
      [lambda x: x['col2'] < 0])
```

```python
result = (load_data()
          [lambda x: x.col2 < 0]
          .assign(col1_demeaned=lambda x: x.col1 - x.col1.mean())
          .groupby('key')
          .col1_demeaned.std())
```

### The pipe Method

```python
a = f(df, arg1=v1)
b = g(a, v2, arg3=v3)
c = h(b, arg4=v4)
```

```python
result = (df.pipe(f, arg1=v1)
          .pipe(g, v2, arg3=v3)
          .pipe(h, arg4=v4))
```

```python
g = df.groupby(['key1', 'key2'])
df['col1'] = df['col1'] - g.transform('mean')
```

```python
def group_demean(df, by, cols):
    result = df.copy()
    g = df.groupby(by)
    for c in cols:
        result[c] = df[c] - g[c].transform('mean')
    return result
```

```python
result = (df[df.col1 < 0]
          .pipe(group_demean, ['key1', 'key2'], ['col1']))
```

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion